In [2]:
import pandas as pd
import pandas as pd 
import numpy as np
import scipy.stats as sts

In [3]:
# 1. Create a DataFrame for the 201908-citibike-tripdata data. 
bike_data_toload = "201908-citibike-tripdata.csv"

bike_df = pd.read_csv(bike_data_toload)

In [4]:
bike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,393,2019-08-01 00:00:01.4680,2019-08-01 00:06:35.3780,531.0,Forsyth St & Broome St,40.718939,-73.992663,408.0,Market St & Cherry St,40.710762,-73.994004,35305,Subscriber,1996,2
1,627,2019-08-01 00:00:01.9290,2019-08-01 00:10:29.7840,274.0,Lafayette Ave & Fort Greene Pl,40.686919,-73.976682,3409.0,Bergen St & Smith St,40.686744,-73.990632,38822,Subscriber,1998,2
2,1132,2019-08-01 00:00:04.0480,2019-08-01 00:18:56.1650,2000.0,Front St & Washington St,40.702551,-73.989402,3388.0,President St & Henry St,40.682800,-73.999904,18373,Subscriber,1988,1
3,1780,2019-08-01 00:00:04.1630,2019-08-01 00:29:44.7940,479.0,9 Ave & W 45 St,40.760193,-73.991255,473.0,Rivington St & Chrystie St,40.721101,-73.991925,25002,Subscriber,1988,1
4,1517,2019-08-01 00:00:05.4580,2019-08-01 00:25:23.4550,3312.0,1 Ave & E 94 St,40.781721,-73.945940,3312.0,1 Ave & E 94 St,40.781721,-73.945940,31198,Subscriber,1965,2

In [5]:
# 2. Check the datatypes of your columns. 
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 268.3+ MB

In [12]:
# add an age column
bike_df['age'] = 2022 - bike_df['birth year']

In [7]:
pd.to_datetime(200, unit='s')

Timestamp('1970-01-01 00:03:20')

In [8]:
# 3. Convert the 'tripduration' column to datetime datatype.
bike_df.tripduration = pd.to_datetime(bike_df.tripduration, unit='s')

In [13]:
bike_df.tail()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
2344219,1970-01-01 00:03:36,2019-08-31 23:59:46.2930,2019-09-01 00:03:23.0360,116.0,W 17 St & 8 Ave,40.741776,-74.001497,509.0,9 Ave & W 22 St,40.745497,-74.001971,38655,Subscriber,1972,1,50
2344220,1970-01-01 00:01:57,2019-08-31 23:59:47.7970,2019-09-01 00:01:45.7440,3429.0,Hanson Pl & Ashland Pl,40.685068,-73.977908,353.0,S Portland Ave & Hanson Pl,40.685396,-73.974315,25264,Subscriber,1982,2,40
2344221,1970-01-01 00:26:54,2019-08-31 23:59:48.1560,2019-09-01 00:26:42.7760,387.0,Centre St & Chambers St,40.712733,-74.004607,3440.0,Fulton St & Adams St,40.692418,-73.989495,28485,Customer,1969,0,53
2344222,1970-01-01 00:21:41,2019-08-31 23:59:58.3620,2019-09-01 00:21:39.7040,3168.0,Central Park West & W 85 St,40.784727,-73.969617,423.0,W 54 St & 9 Ave,40.765849,-73.986905,38664,Customer,1969,0,53
2344223,1970-01-01 00:06:59,2019-08-31 23:59:59.4520,2019-09-01 00:06:59.0210,447.0,8 Ave & W 52 St,40.763707,-73.985162,529.0,W 42 St & 8 Ave,40.757570,-73.990985,35210,Subscriber,1994,1,28

In [10]:
# 4. Check the datatypes of your columns. 
bike_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2344224 entries, 0 to 2344223
Data columns (total 16 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             datetime64[ns]
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
 15  age                      float64
dtypes: datetime64[ns](1), float64(7), int64(3), object(5)
memory usage: 286.2+ MB

In [14]:
# 5. Export the Dataframe as a new CSV file without the index.
bike_df.to_csv("modified_201908-citibike-tripdata.csv", index=False)

In [16]:
data_toload = "modified_201908-citibike-tripdata.csv"

df = pd.read_csv(data_toload)

In [18]:
df.sample(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,age
1259881,1970-01-01 00:12:20,2019-08-17 10:32:36.7160,2019-08-17 10:44:57.2720,3461.0,Murray St & Greenwich St,40.714852,-74.011223,316.0,Fulton St & William St,40.709560,-74.006536,38488,Subscriber,1952,1,70
356385,1970-01-01 00:08:34,2019-08-05 16:14:48.6170,2019-08-05 16:23:22.6750,291.0,Madison St & Montgomery St,40.713126,-73.984844,432.0,E 7 St & Avenue A,40.726218,-73.983799,35379,Subscriber,1969,1,53
2024492,1970-01-01 00:05:59,2019-08-27 17:28:38.6180,2019-08-27 17:34:37.8780,293.0,Lafayette St & E 8 St,40.730207,-73.991026,496.0,E 16 St & 5 Ave,40.737262,-73.992390,30793,Subscriber,1986,2,36
540480,1970-01-01 00:03:32,2019-08-08 08:07:43.1730,2019-08-08 08:11:15.9010,3507.0,Park Ave & E 124 St,40.804555,-73.939686,3503.0,Madison Ave & E 120 St,40.802950,-73.942954,31446,Subscriber,1954,1,68
2012872,1970-01-01 00:26:42,2019-08-27 15:26:18.2900,2019-08-27 15:53:00.4070,3135.0,E 75 St & 3 Ave,40.771129,-73.957723,3641.0,Broadway & W 25 St,40.742869,-73.989186,39015,Customer,1977,1,45
812779,1970-01-01 00:41:03,2019-08-11 15:38:51.1710,2019-08-11 16:19:55.0720,3086.0,Graham Ave & Conselyea St,40.715143,-73.944507,3125.0,45 Rd & 11 St,40.747086,-73.949772,29761,Subscriber,1990,2,32
75301,1970-01-01 00:25:50,2019-08-01 20:07:47.6770,2019-08-01 20:33:37.9080,519.0,Pershing Square North,40.751873,-73.977706,311.0,Norfolk St & Broome St,40.717227,-73.988021,39693,Subscriber,1963,1,59
1041655,1970-01-01 00:33:01,2019-08-14 14:48:58.6540,2019-08-14 15:22:00.2680,496.0,E 16 St & 5 Ave,40.737262,-73.992390,3746.0,6 Ave & Broome St,40.724308,-74.004730,15318,Subscriber,1992,1,30
2279336,1970-01-01 00:18:39,2019-08-30 23:31:09.8340,2019-08-30 23:49:49.8320,490.0,8 Ave & W 33 St,40.751551,-73.993934,3160.0,Central Park West & W 76 St,40.778968,-73.973747,19528,Subscriber,1996,1,26
2179945,1970-01-01 00:11:06,2019-08-29 18:11:36.4680,2019-08-29 18:22:42.8030,3002.0,South End Ave & Liberty St,40.711512,-74.015756,351.0,Front St & Maiden Ln,40.705310,-74.006126,38550,Subscriber,1985,2,37